server_tmsmsgtool/specs/tivolipfua.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
  *********************************************************************
  * Copyright (c) 2000-2021 Contributors to the Eclipse Foundation
  *
  * See the NOTICE file(s) distributed with this work for additional
  * information regarding copyright ownership.
  *
  * This program and the accompanying materials are made available under the
  * terms of the Eclipse Public License 2.0 which is available at
  * http://www.eclipse.org/legal/epl-2.0
  *
  * SPDX-License-Identifier: EPL-2.0
  *
  *********************************************************************
-->

<!--
/*****************************************************************************
*
*      tivolipfua.dtd
*      Version: 1.4
*      Date: 04/08/27
*      Time: 09:05:09
*      Release: 1
*
*****************************************************************************/
-->

<!ELEMENT help_topic  (meta* , copyright , title ,  ( hint | dialog | window | menu | object | overview | concept | task | legal | troubleshooting | definition | description) )>
<!ATTLIST help_topic  id       ID     #REQUIRED
                      xml:lang CDATA  'en'
		      jc ( yes | no )  'yes'
		      wc ( yes | no )  'no' >

<!ELEMENT meta        EMPTY>
<!ATTLIST meta        http-equiv CDATA  #IMPLIED
                      name       CDATA  #IMPLIED
                      content    CDATA  #IMPLIED
                      scheme     CDATA  #IMPLIED >

<!ELEMENT title           (#PCDATA )>

<!ELEMENT dialog          (              index_entry* , keywords? , body , ((related_topic*, see*) | related_info?) )>
<!ELEMENT window          (              index_entry* , keywords? , body , ((related_topic*, see*) | related_info?) )>
<!ELEMENT menu            (              index_entry* , keywords? , body , ((related_topic*, see*) | related_info?) )>
<!ELEMENT object          (              index_entry* , keywords? , body , ((related_topic*, see*) | related_info?) )>
<!ELEMENT hint            (  toc_entry , index_entry* , keywords? , body , ((related_topic*, see*) | related_info?) )>
<!ELEMENT concept         (  toc_entry , index_entry* , keywords? , body , ((related_topic*, see*) | related_info?) )>
<!ELEMENT overview        (  toc_entry , index_entry* , keywords? , body , ((related_topic*, see*) | related_info?) )>
<!ELEMENT task            (  toc_entry , index_entry* , keywords? , body , ((related_topic*, see*) | related_info?) )>
<!ELEMENT legal           (  toc_entry , index_entry* , keywords? , body , ((related_topic*, see*) | related_info?) )>
<!ELEMENT troubleshooting (  toc_entry , index_entry* , keywords? , body , ((related_topic*, see*) | related_info?) )>

<!ELEMENT toc_entry    (#PCDATA          )>

<!ELEMENT index_entry  (index1 , index2? )>

<!ELEMENT index1       (#PCDATA )>

<!ELEMENT index2       (#PCDATA )>

<!ELEMENT copyright  (#PCDATA)>

<!ELEMENT keywords     EMPTY                 >
<!ATTLIST keywords     value CDATA  #REQUIRED>


<!ELEMENT body         (problem | p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | ui_item | detail | a | goto | table | img )* >

<!ELEMENT description  (p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | a | goto | table | img )* >

<!ELEMENT definition   (#PCDATA | em | cite | strong | code | sup | sub | samp | kbd | var )*>

<!ELEMENT p            (#PCDATA | em | cite | strong | code | sup | sub | samp | kbd | var | a | goto | img | term | q | br | tab | ol | ul | dl )*>
<!ELEMENT q   EMPTY>
<!ELEMENT tab EMPTY>
<!ELEMENT br EMPTY>

<!ELEMENT ol           (li+)>
<!ATTLIST ol           start CDATA  #IMPLIED >

<!ELEMENT ul           (li+)>

<!ELEMENT dl           (dt , dd+ )+>

<!ELEMENT code         (#PCDATA | q | br | tab )*>

<!ELEMENT pre          (#PCDATA | q | br | tab )*>

<!ELEMENT cite         (#PCDATA | q | br | tab )*>

<!ELEMENT h2           (#PCDATA )>

<!ELEMENT h3           (#PCDATA )>

<!ELEMENT note         (p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | a | goto | table | img | q | br | tab )*>

<!ELEMENT attention    (p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | a | goto | table | img )*>

<!ELEMENT note_list    (li+ )                            >
<!ATTLIST note_list    numbered  (yes | no )  'yes' >

<!ELEMENT ui_item      (name ,  (import | description ) )>
<!ATTLIST ui_item      expand    (yes | no )  'no'  >

<!ELEMENT import       EMPTY>
<!ATTLIST import       helpid CDATA  #REQUIRED>

<!ELEMENT detail         (name,  (import | description ) )>

<!ELEMENT term           (name,  (import | definition  ) )>

<!ELEMENT related_info   (a*, see*)>

<!ELEMENT related_topic  ( #PCDATA )>
<!ATTLIST related_topic  target CDATA #REQUIRED
                         type   (helpid | url | keywords) #REQUIRED>


<!-- The default value for the alignment attribute is also specified in the CSS.
     To change the default value for align, you must also edit the CSS.    -->
<!ELEMENT img  EMPTY>
<!ATTLIST img  width   CDATA             #IMPLIED
               height  CDATA             #IMPLIED
               src     CDATA             #REQUIRED
               alt     CDATA             #REQUIRED
               align   (left | right | top | middle | bottom )  'bottom' >

<!ELEMENT problem  (description?, (resolution | resolutions) )>

<!ELEMENT em       (#PCDATA | q | br | tab )*>

<!ELEMENT strong   (#PCDATA | q | br | tab )*>

<!ELEMENT sup    (#PCDATA | q | br | tab )*>

<!ELEMENT sub      (#PCDATA | q | br | tab )*>

<!ELEMENT samp     (#PCDATA | q | br | tab )*>

<!ELEMENT kbd      (#PCDATA | q | br | tab )*>

<!ELEMENT var      (#PCDATA | q | br | tab )*>

<!-- goto is deprecated -->
<!ELEMENT goto     (#PCDATA | img )*>
<!ATTLIST goto     target CDATA #REQUIRED
                   type   (helpid | url ) #REQUIRED>

<!-- anchor element added for defect #77393 -->
<!ELEMENT a     (#PCDATA | img )*>
<!ATTLIST a     href   CDATA #REQUIRED
                target CDATA #IMPLIED
                name CDATA #IMPLIED
                helpid (yes | no) 'no' >

<!ELEMENT example  (p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | a | goto | table | img )* >

<!ELEMENT examples (p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | a | goto | table | img )* >

<!ELEMENT li    (#PCDATA | p | pre | em | a | goto | cite | sub | sup | samp | kbd | var | code | strong | img | term | ul | dl | ol| q | br | tab )*>

<!ELEMENT dt    (#PCDATA )>

<!ELEMENT dd    (p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | a | goto | table | img )*>

<!ELEMENT name  (#PCDATA | img )*>


<!ELEMENT resolution (p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | a | goto | table | img )* >

<!ELEMENT resolutions (p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | a | goto | table | img )* >


<!-- ======================= Tables ======================================= -->

<!-- Deleted col colgroup thead and tfoot LM 040300 -->

<!ELEMENT table
     (caption?, (tbody+|tr+))>

<!-- CAPTION DOESN'T WORK IN ICE BROWSER... BUT IT WORKS IN NETSCAPE -->

<!ELEMENT caption  (#PCDATA | em | cite | strong | code | sup | sub | samp | kbd | var | q | br | tab )*>
<!ELEMENT tbody    (tr)+>
<!ELEMENT tr       (th|td)+>
<!ELEMENT th       (#PCDATA | em | cite | strong | code | sup | sub | samp | kbd | var | p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | ui_item | a | goto | detail | table | img | q | br | tab )*>
<!ELEMENT td       (#PCDATA | em | cite | strong | code | sup | sub | samp | kbd | var | p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | ui_item | a | goto | detail | table | img | q | br | tab )*>


<!-- The default value for the alignment attribute is also specified in the CSS.
     To change the default value for align, you must also edit the CSS.    -->
<!ATTLIST table
  summary     CDATA       #REQUIRED
  width       CDATA       #IMPLIED
  border      CDATA       #IMPLIED
  cellspacing CDATA       #IMPLIED
  cellpadding CDATA       #IMPLIED
  align       (left|center|right) 'center'
  >


<!-- The default value for the alignment attribute is also specified in the CSS.
     To change the default value for align, you must also edit the CSS.    -->
<!ATTLIST tbody
  align      (left|center|right|justify|char)   'left'
  char       CDATA    #IMPLIED
  >


<!-- The default value for the alignment attribute is also specified in the CSS.
     To change the default value for align, you must also edit the CSS.    -->
<!ATTLIST tr
  align      (left|center|right|justify|char) 'left'
  valign     (top|middle|bottom|baseline) 'top'
  >


<!-- th is for headers, td for data and for cells acting as both -->
<!-- The default value for the alignment attribute is also specified in the CSS.
     To change the default value for align, you must also edit the CSS.    -->
<!ATTLIST th
  rowspan     CDATA       "1"
  colspan     CDATA       "1"
  align      (left|center|right|justify|char) 'left'
  valign     (top|middle|bottom|baseline) 'top'
  >


<!-- The default value for the alignment attribute is also specified in the CSS.
     To change the default value for align, you must also edit the CSS.    -->
<!ATTLIST td
  rowspan     CDATA       "1"
  colspan     CDATA       "1"
  align      (left|center|right|justify|char) 'left'
  valign     (top|middle|bottom|baseline) 'top'
  >

<!-- End of Tables  -->

<!--
<!ENTITY % HTMLlat1    SYSTEM "../xml/xhtml-lat1.ent"   >
 %HTMLlat1;
<!ENTITY % HTMLspecial SYSTEM "../xml/xhtml-special.ent">
 %HTMLspecial;
<!ENTITY % HTMLsymbol  SYSTEM "../xml/xhtml-symbol.ent" >
 %HTMLsymbol;
 -->


<!ENTITY NLS         SYSTEM "localized.ent"    >

<!-- These entities here temporarily until we get parameter entities working -->
<!ENTITY note       "Note"             >
<!ENTITY notes      "Notes"            >
<!ENTITY attention  "Attention"        >
<!ENTITY concepts   "Concepts"         >
<!ENTITY overview   "Overview"         >
<!ENTITY tasks      "Tasks"            >
<!ENTITY legal      "Legal Notices"    >
<!ENTITY hints      "Hints &amp; Tips" >
<!ENTITY trouble    "Troubleshooting"  >
<!ENTITY messages   "Messages"         >
<!ENTITY related    "Related Topics"   >
<!ENTITY problem    "Problem:"         >
<!ENTITY resolution "Resolution:"      >
<!ENTITY example    "Example"          >
<!ENTITY examples   "Examples"         >
<!ENTITY index      "Index"            >
<!ENTITY toc        "Table of Contents">


<!ENTITY % symbols SYSTEM "symbols.ent">
 %symbols;

<!--

The first step of uabuildhs will be to build a dtd
with the content being a list of all the .symbol files
in the xml directory (Chris wants symbol files in xml dir):

  <!ENTITY % xxx SYSTEM "../xml/xxx.symbols">
  %xxx;

The .symbol file should look something like this:

(filename xml/xxx.symbols)
  <!ENTITY xxx_sub1   "try this on for size!!!">
  <!ENTITY xxx_sub2   "does it fit?">

It will then be referenced in the xml files as
  &xxx_sub1;

-->

<!-- MESSAGES -->

<!--
******************************************************************************
* Explanation:
*
* A detailed explanation of the error message.
*
******************************************************************************
-->

<!ELEMENT Explanation ( p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | img | ui_item | a | goto | term | detail )*>

<!--
******************************************************************************
* SystemAction:
*
* Describes the actions (if any) the system takes when it encounters a
* condition that causes it to display this message.
*
*
******************************************************************************
-->

<!ELEMENT SystemAction ( p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | img | ui_item | a | goto | term | detail )*>

<!--
******************************************************************************
* Action:
*
* Describes the ations the user should take, if any.
*
******************************************************************************
-->

<!ELEMENT Action ( p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | img | ui_item | a | goto | term | detail )*>

<!--
******************************************************************************
* OperatorResponse:
*
* Describes the corrective actions the operator should take, if any.
*
******************************************************************************
-->

<!ELEMENT OperatorResponse ( p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | img | ui_item | a | goto | term | detail )*>

<!--
******************************************************************************
* ProgrammerResponse:
*
* Describes the corrective responses a system programmer might use to
* address the problem.
*
******************************************************************************
-->

<!ELEMENT ProgrammerResponse ( p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | img | ui_item | a | goto | term | detail )*>

<!--
******************************************************************************
* AdminResponse:
*
* Describes the corrective actions a system administrator might use
* to correct the problem.
*
******************************************************************************
-->

<!ELEMENT AdminResponse ( p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | img | ui_item | a | goto | term | detail )*>

<!--
******************************************************************************
* Level3Support:
*
* Provides detailed Level 3 support information.
*
******************************************************************************
-->

<!ELEMENT Level3Support ( p | ol | ul | dl | h2 | h3 | pre | example | examples | attention | note | note_list | img | ui_item | a | goto | term | detail )*>


<!--
******************************************************************************
* See:
*
* Provides a placeholder to reference other material. (same as "see")
*
******************************************************************************
-->

<!ELEMENT See (#PCDATA|cite)*>

<!--
******************************************************************************
* see:
*
* Provides a placeholder to reference other material. (same as "See")
*
******************************************************************************
-->

<!ELEMENT see (#PCDATA|cite)*>

